{% extends "_layout.html" %}
{% block header%}
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
        margin-bottom: 0;
        border-radius: 0;
        }
        
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 100vh}
        
        /* Set gray background color and 100% height */
        .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
        }
        
        /* Set black background color, white text and some padding */
        footer {
        background-color: #555;
        color: white;
        padding: 15px;
        }
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }
        .row.content {height:auto;} 
        }
    </style>
{% endblock %}
{% block content %}
			
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
                    <div class="user-logo">
                        <div class="img" style="background-image: url({{current_user.full_image_path}});"></div>
                        <h3>{{current_user.username}}</h3>
                        <h4>{{current_user.role.role}}</h4>
                    </div>
                </div>
                <nav class="nav nav-pills nav-fill flex-column mt-2">
                    <a class="nav-item nav-link" href="{{ url_for('users.edit', id=current_user.id) }}">Edit Profile</a>
                    {% if current_user.role.role == "Teacher" %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseModal">
                            Create a Course
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Course Creation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action = "{{ url_for('courses.create') }}" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
                                            <div class="form-group">
                                                <label for="course_title">Course Title:</label>
                                                <input type="text" name ="course_title" class="form-control" required/>
                                            </div>
    
                                            <div class="form-group m-0">
                                                <button type="submit" class="btn btn-primary btn-block">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% endif %}
                    
                    {% if current_user.role.role == "Student" %}

                        <a class="nav-item nav-link " href="#">My Grades</a>

                    {% endif %}

                    {% if current_user.role.role == "Guardian" %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#childModal">
                            Add Your Child
                        </button>

                        <div class="modal fade" id="childModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Child Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action = "{{ url_for('users.register', id=current_user.id) }}" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <div class="form-group">
                                                <label for="username">Username:</label>
                                                <input type="text" name ="username" class="form-control" required/>
                                            </div>

                                            <hr/>

                                            <div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    
                        <a class="nav-item nav-link " href="#">View Progress Report</a>

                    {% endif %}
                    
                    <a class="nav-item nav-link" href="#">My Messages</a>

                    <form action="{{url_for('sessions.destroy')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="submit" class="btn " value="Logout">
                    </form>
                </nav>
            </div>

            <div class="col-sm-8 text-left"> 
                <div>
                    <h2>Welcome, {{current_user.first_name}} {{current_user.last_name}}!</h2>
                </div>
                
                {% if current_user.role_id == 2 %}

                    <h3>Courses I am tutoring: </h3>

                    <ul>
                        {% for course in teacher_courses %}
                            <li>
                                <a href="{{url_for('courses.show', course_title=course.title, user_id=current_user.id)}}">{{course.title}}</a>
                                
                            </li>
                        {% endfor %}
                    </ul>

                {% elif current_user.role_id == 1 %}
                    <h3>Courses I am enrolled in: </h3>

                    <ul>
                        {% for course in student_courses %}
                            <li>
                                <a href="{{url_for('courses.show',course_title=course.title, user_id=current_user.id)}}">{{course.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <h3>List of Child</h3>
                    
                    
                    {% for child in new_list %}
                        {% for key, value in child.items() %}
                        <ul>
                            <li>
                                {{key.first_name}} {{key.last_name}}
                            </li>

                            <ul>                             
                                {% for key2, val in value.items() %}
                                    <li>
                                        {{key2.first_name}} {{key2.last_name}} : {{val.title}}
                                    </li>

                                {% endfor %}
                            </ul>
                        </ul>
                        {% endfor %}
                    {% endfor %}

                {% endif %}
                <hr>
                <p>some werid text</p>    
                
                <hr/>
                <h3>Test</h3>
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-2 sidenav">

                <div class="card"">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                <div class="card" >
                    <div class="card-body">
                        {% if current_user.role_id == 2 %}
                      <h5 class="card-title">Courses</h5>
                        <p class="card-text">  
                                <ul style="list-style-type: none; margin: 0; padding: 0;">
                                    {% for course in teacher_courses %}
                                        <li>
                                            <a href="{{url_for('courses.show', course_title=course.title, user_id=current_user.id)}}">{{course.title}}</a>
                                            
                                        </li>
                                    {% endfor %}
                                </ul>

                            {% else %}
                                <ul style="list-style-type: none; margin: 0; padding: 0;">
                                    {% for course in student_courses %}
                                        <li>
                                            <a href="{{url_for('courses.show',course_title=course.title, user_id=current_user.id)}}">{{course.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="well card">
                    <div class="card-body">
                        <h5>Upcoming Events</h5>
                         
                        <p>No new events</p>
                        <p></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

{% endblock %}

