{% extends "_layout.html" %}
{% block header%}
<style>

    .sidebar {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background: #1a1a1a;
        color: #fff;
    }

    .content-container {
        padding-top: 20px;
    }

    .sidebar-logo {
        padding: 10px 15px 10px 30px;
        font-size: 20px;
        background-color: #2574A9;
    }

    .sidebar-navigation {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
    }

    .sidebar-navigation li {
        background-color: transparent;
        position: relative;
        display: inline-block;
        width: 100%;
        line-height: 20px;
    }

    /* .sidebar-navigation li a {
        padding: 10px 15px 10px 30px;
        display: block;
        color: #fff;
    } */

    .sidebar-navigation li .fa {
        margin-right: 10px;
    }

    /* .sidebar-navigation li a:active,
    .sidebar-navigation li a:hover,
    .sidebar-navigation li a:focus {
        text-decoration: none;
        outline: none;
    } */

    .sidebar-navigation li::before {
        background-color: #2574A9;
        position: absolute;
        content: '';
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 3px;
        z-index: -1;
    }

    .sidebar-navigation li:hover::before {
        width: 100%;
    }

    .sidebar-navigation .header {
        font-size: 12px;
        text-transform: uppercase;
        background-color: #151515;
        padding: 10px 15px 10px 30px;
    }

    .sidebar-navigation .header::before {
        background-color: transparent;
    }

    .content-container {
        padding-left: 220px;
    }
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}  
    </style>
{% endblock %}
{% block content %}
			
<div class="row content">
    <div class="col-sm-2 sidebar">
        <div class="sidebar-logo d-flex flex-column align-items-center">
            <img src='{{current_user.full_image_path}}' width='150' height='150' class='border rounded-circle'>
            <h4>{{current_user.username}}</h4>
            <h5>{{current_user.role.role}}</h5>
        </div>
        <ul class="sidebar-navigation">
            <li>
                <a class="button" style="vertical-align:middle" href="{{ url_for('users.edit', id=current_user.id) }}"><span>
                <i class="fa fa-university" aria-hidden="true"></i> Edit Profile</span>
                </a>
            </li>
            <hr>
            {% if current_user.role.role == "Teacher" %}

            <li>
                <button class="button" style="vertical-align:middle" data-toggle="modal" data-target="#courseModal"><span>
                <i class="fa fa-university" aria-hidden="true"></i> Create a course</span>
                </button>
            </li>

            <!-- Modal -->
            <div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Course Creation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action = "{{ url_for('courses.create') }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                <div class="form-group">
                                    <label for="course_title">Course Title:</label>
                                    <input type="text" name ="course_title" class="form-control" required/>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
                    
                        
            {% if current_user.role.role == "Student" %}

            <li>
                <a href="#">
                <i class="fa fa-trophy" aria-hidden="true"></i> My Grades
                </a>
            </li>

            {% endif %}

            {% if current_user.role.role == "Guardian" %}
            <li>
                <button class="button" style="vertical-align:middle" data-toggle="modal" data-target="#childListModal">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add Your Child</button>
            </li>

            <div class="modal fade" id="childListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Child Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action = "{{ url_for('users.register', id=current_user.id) }}" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" name ="username" class="form-control" required/>
                                </div>

                                <hr/>

                                <div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                                        
            <a class="nav-item nav-link " href="#">View Progress Report</a>

            {% endif %}
                        
            <li>
                <button class="button" style="vertical-align:middle"><span> 
                <i class="fa fa-envelope" aria-hidden="true"></i> My Messages</span>
                </button>
            </li>
        </ul>
    </div>

    <div class="col-sm-8 text-left"> 
        <div>
            <h2>Welcome, {{current_user.first_name}} {{current_user.last_name}}!</h2>
        </div>
        
        {% if current_user.role_id == 2 %}

            <h3>Courses I am tutoring: </h3>

            <ul>
                {% for course in teacher_courses %}
                    <li>
                        <a href="{{url_for('courses.show', course_title=course.title, user_id=current_user.id)}}">{{course.title}}</a>
                        
                    </li>
                {% endfor %}
            </ul>

        {% elif current_user.role_id == 1 %}
            <h3>Courses I am enrolled in: </h3>

            <ul>
                {% for course in student_courses %}
                    <li>
                        <a href="{{url_for('courses.show',course_title=course.title, user_id=current_user.id)}}">{{course.title}}</a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <h3>List of Child</h3>
            
            
            {% for child in new_list %}
                {% for key, value in child.items() %}
                    <ul>
                        <li>
                            {{key.first_name}} {{key.last_name}}
                        </li>

                        <ul>                             
                            {% for key2, val in value.items() %}
                                <li>
                                    {{key2.first_name}} {{key2.last_name}} : {{val.title}}
                                </li>

                            {% endfor %}
                        </ul>
                    </ul>
                {% endfor %}
            {% endfor %}

        {% endif %}
        <hr>
        <p>some werid text</p>    
        
        <hr/>
        <h3>Test</h3>
        <p>Lorem ipsum...</p>
    </div>
</div>

    

{% endblock %}

