{% extends "_layout.html" %}
{% block header%}
    <style>
        body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
        margin-bottom: 0;
        border-radius: 0;
        }
        
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 100vh}
        
        /* Set gray background color and 100% height */
        .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
        }
        
        /* Set black background color, white text and some padding */
        footer {
        background-color: #555;
        color: white;
        padding: 15px;
        }
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }
        .row.content {height:auto;} 
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }
        /* body{margin-top:20px;} */

        .comment-wrapper .panel-body {
            max-height:650px;
            overflow:auto;
        }

        .comment-wrapper .media-list .media img {
            width:64px;
            height:64px;
            border:2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom:1px dashed #efefef;
            margin-bottom:25px;
        }

    </style>
{% endblock %}
{% block content %}
			
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-2 sidenav">
                
                <nav class="nav nav-pills nav-fill flex-column mt-2">
                    <a class="nav-item nav-link" href="#">List of students</a>
                    {% if current_user.role.role == "teacher" %}
                        <a class="nav-item nav-link " href="{{url_for('courses.register')}}">Add students</a>
                        <a class="nav-item nav-link " href="{{url_for('assignments.new')}}">Upload Assignment</a>
                        <a class="nav-item nav-link " href="#">Video Call</a>
                    {% endif %}
                    
                    {% if current_user.role.role == "student" %}
                        <a class="nav-item nav-link " href="#">My Assignments</a>

                        <a class="nav-item nav-link " href="#">My Grades</a>

                    {% endif %}

                    {% if current_user.role.role == "guardian" %}
                        <a class="nav-item nav-link " href="#">View Progress Report</a>

                    {% endif %}
                    

                    <form action="{{url_for('sessions.destroy')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="submit" class="btn " value="Logout">
                    </form>
                </nav>
            </div>
            <div class="col-sm-8 text-left"> 
                <h1>Welcome</h1>
                <h3>{{course_title}}</h3>
                
                <!-- FORUM -->
                <div class="container">
                    <div class="row bootstrap snippets bootdeys">
                        <div class="col-sm-8">
                            <div class="comment-wrapper">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Class Forum
                                    </div>
                                    <div class="panel-body">
                                        
                                        <form action="{{url_for('posts.create', course_name = course_title )}}" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        
                                            <textarea name="post_content" class="form-control" placeholder="Write an update" rows="3" style="border: 1px solid gray;"></textarea>
                                                <br>
                                            <button type="submit" class="btn btn-info pull-right" >Post</button>
                                        </form>
                                        
                                        <div class="clearfix"></div>
                                        <hr>
                                        
                                        {% for post in course_posts %}
                                            <ul class="media-list">
                                                <li class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="text-muted pull-right">
                                                            <small class="text-muted">{{post.created_at}}</small>
                                                        </span>
                                                        <strong class="text-success">@{{current_user.username}}</strong>
                                                        <p>
                                                            {{post.post_content}}
                                                        </p>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        {% endfor %}
                                        <!-- <ul class="media-list">
                                            <li class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                </a>
                                                <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">30 min ago</small>
                                                    </span>
                                                    <strong class="text-success">@{{current_user.username}}</strong>
                                                    <p>
                                                    sdfgh
                                                    </p>
                                                </div>
                                            </li>
                                            
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
                
                
              
                 
            </div>
            <!-- sidebar -->
            <div class="col-sm-2 sidenav">
                <div class="well card">
                    <div class="card-body">
                        <h5><u>Upcoming Events</u></h5>
                         
                        <p>No new events</p>
                        <p></p>
                    </div>
                    
                </div>
                <div class="well card">
                    <div class="card-body">
                        <h5><u>Reminders</u></h5>
                        
                        <p>Set a reminder</p>
                        <p></p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

{% endblock %}